<div class="content">
  <br>
  <h1>Tableau de bord</h1>
  <% if @bookings.length == 0 %>
    <p>Vous n'avez pas de rendez vous ce jour</p>
  <% else %>
    <p>Vos rendez vous du <%= @display_day.display_date %> :</p>
    <div class="cards">
      <% @bookings.each do |booking| %>
        <div class="card">
          <p><%= booking.user.name %></p>
          <p>De <%= booking.slot.time_slot %></p>
        </div>
      <% end %>
    </div>
  <% end %>
  <hr>
  <%= form_with url: "/bookings", method: :get, local: true, class:"form-inline", :remote => true  do |form| %>
    <!-- Dropdown -->
    <div class="form-group">
      <%= form.select :day, @days.map {|day| [day.display_date, day.date]},
        {
          selected: "",
          prompt: 'Jour à venir',
        },
        {class: "form-control little-margin-bottom"} %>
    </div>
    <div class="form-group pt-2">
      <h3><%= form.submit "Chercher", class: "btn btn-flat-search" %></h3>
    </div>
  <% end %>
</div>